<div id="chat" class="container">
  <hr class="hr" />
  <div id="messages" class="border rounded p-3 mb-3">
    <!-- Chat messages will be appended here -->
  </div>
  <div class="input-group">
    <input id="chat-input" type="text" class="form-control" placeholder="Type a message...">
    <button onclick="sendMessage()" class="btn btn-primary">Send</button>
  </div>
  <hr class="hr" />
</div>
